services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "9229:9229"
    environment:
      - NODE_ENV=production
      - NODE_OPTIONS=--inspect=0.0.0.0:9229
      - VAULT_ADDR=${VAULT_ADDR:-http://host.docker.internal:8200}
      - VAULT_TOKEN=${VAULT_TOKEN:-root}
      - VAULT_SECRET_PATH=${VAULT_SECRET_PATH:-secret/data/nirapadh}
